body{
    background-color: black;
}

.card{
    background: url("../Assets/backgorund.png") no-repeat;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: black;
}

.instagram{
    list-style-image: url('../Assets/Insta.png');
}

.twitter{
    list-style-image: url('../Assets/Twitter.png');
}

.youtube{
    list-style-image: url('../Assets/Youtube.png');
}